<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="bg-light">

<div class="container mt-5" th:fragment="item_table_fragment">
    <h2 class="mb-4 text-center">Lista de Items</h2>

    <table class="table table-striped table-hover shadow-sm rounded">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Fecha Ingreso</th>
            <th>Ancho</th>
            <th>largo</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="sku : ${skus}">
            <td th:text="${sku.id}">1</td>
            <td th:text="${sku.descripcion}">Caja</td>
            <td th:text="${sku.estado ? 'Activo' : 'Inactivo'}">Activo</td>
            <td th:text="${#temporals.format(sku.fechaIngreso, 'dd/MM/yyyy')}">01/11/2025</td>
            <td th:text="${sku.skuDataLogistica.largo}"></td>
            <td th:text="${sku.skuDataLogistica.ancho}"></td>
            <td>
                <a th:href="@{'/item/edit/' + ${sku.id}}" class="btn btn-sm btn-primary">Editar</a>
                <a th:href="@{'/item/delete/' + ${sku.id}}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
