<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/botton-layer.css">
</head>

<body class="p-4">

<div
        class="warehouse-layout center-div" th:fragment="warehouse-botton-layer">
  <th:block th:each="nave : ${naves}">
      <h1 th:text="${nave.warehouse.warehouseAlias}"></h1>
      <h2 th:text="${nave.naveAlias}"></h2>
      <div class="nave-layout"
           th:style="'width:'  + ${nave.naveConfiguration.lenghtX} + 'px;'+
                     'height:' + ${nave.naveConfiguration.widthY}  + 'px'">

          <div class="corridor"></div>
          <div>
              <p>anaquel 1</p>
              <table class="center-div">
                  <tr>
                      <td>1</td>
                      <td class="shelf-beam"></td>
                      <td>2</td>
                      <td class="shelf-beam"></td>
                      <td>3</td>
                  </tr>
                  <tr class="shelf-middle-gap">
                  </tr>
                  <tr>
                      <td>4</td>
                      <td class="shelf-beam"></td>
                      <td>5</td>
                      <td class="shelf-beam"></td>
                      <td>6</td>
                  </tr>
              </table>
              <p>anaquel 2</p>
          </div>
          <div class="corridor"></div>
          <div>
              <p>anaquel 3</p>
              <table class="center-div">
                  <tr>
                      <td>1</td>
                      <td class="shelf-beam"></td>
                      <td>2</td>
                      <td class="shelf-beam"></td>
                      <td>3</td>
                  </tr>
                  <tr class="shelf-middle-gap">
                  </tr>
                  <tr>
                      <td class="shelf-hidden">4</td>
                      <td class="shelf-beam"></td>
                      <td>5</td>
                      <td class="shelf-beam"></td>
                      <td>6</td>
                  </tr>
              </table>
              <p>anaquel 4</p>
          </div>
          <div class="corridor"></div>
          <div>
              <p>anaquel 5</p>
              <table class="center-div">
                  <tr>
                      <td>1</td>
                      <td class="shelf-beam"></td>
                      <td>2</td>
                      <td class="shelf-beam"></td>
                      <td>3</td>
                  </tr>
                  <tr class="shelf-middle-gap">
                  </tr>
                  <tr>
                      <td>4</td>
                      <td class="shelf-beam"></td>
                      <td>5</td>
                      <td class="shelf-beam"></td>
                      <td>6</td>
                  </tr>
              </table>
              <p>anaquel 6</p>
          </div>
          <div class="corridor"></div>


      </div>
  </th:block>

</div>


</body>
</html>