<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/botton-layer.css">
</head>
<body>
<div>
    <fieldset style="" id="botton-rect-fieldset">
        <legend >th</legend>
        <svg id="botton-rect-svg">
            <rect
                    id="botton-rect"
                    height="50"
                    width="20"
                    fill="orange"

            >

            </rect>
        </svg>
    </fieldset>
</div>

</body>
</html>