#botton-rect-container{
    width: 100vh;
    height: 100vh;
}

#botton-rect-fieldset{
    padding: 0;
    margin: 0;


    height: 5000px;
    width: 5000px;

    border: solid gray 1px;

    position: relative;
}
#botton-rect-fieldset legend{


    height: 10%;
    background-color: white;
    position: absolute;
    top: -10%;
    left: 43%;

    font-size: 5px;
    text-align: center;


}

#botton-rect-svg{
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

#botton-rect{
    width: 100%;
    height: 100%;

}

#botton-rect{
    fill: orange ;
}